@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
color: #242424;
text-align: center;
line-height: 1.25;
}

h2 {
    color: cyan;
}

h1 {
font-size: 36px;
}

p {
line-height: 1.5;
font-size: 16px;
}

a {
text-decoration: none;
position: relative;
transition: opacity 300ms ease;
}
i:hover {
    opacity: 0.7;
}
.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: cyan;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left:0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
    
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px
}

.text--blue {
    color: cyan;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}
   

.section__title {
    margin-bottom: 20px;
}
/* NAVIGATION BAR */


* {
    background-color: black;
  
    
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 12px;
    color: cyan;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: cyan;
    padding: 8px 20px;
    border-radius: 50px;
    color: rgb(86, 84, 84);
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    box-shadow: 0 0 5px rgb(18, 171, 171), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.personal__logo {
    font-size: 24px;
    color: cyan;
    margin: 0 12px;
    font-weight: bold;
}
/* ABOUT ZEPHYR APPAREL */


#about-zephyr-apparel {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-zephyr-apparel__info {
    display: flex;
    flex-direction: column;
}

.about-zephyr-apparel__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-zephyr-apparel__picture {
    width: 100%;
     }

/* Improving my own picture */ 
{   transform: scale(1.5);
    padding-top: 8px; }


    .about-zephyr-apparel__picture {
    width: 100%;
    border-radius: 0%; }

    .about-zephyr-apparel__info--title {
        margin-bottom: 16px;
        animation: fade-up 650ms 400ms backwards; 
    }
    .about-zephyr-apparel__info--para {
        font-size: 20px;
        margin-bottom: 28px;
        animation: fade-up 650ms 600ms backwards;
    }
    
    .about-zephyr-apparel__link {
        font-size: 20px;
        color: black;
        padding: 0 16px;
        }
    .about-zephyr-apparel__links {
        animation: fade-up 650ms 800ms backwards;
    }
    
    @keyframes fade-up {
        0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }
    
    .about-zephyr-apparel__img--container {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .about-zephyr-apparel__img {
        width: 100%;
        animation: fade-in 1200ms 800ms backwards;
    }
    
    @keyframes fade-in {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }}
    
    .wave {
        display: inline-block;
        animation: animate-wave 500ms infinite ease-in-out;
    }
    @keyframes animate-wave {
        0% {
            transform: rotate(0);
        } 50%{
    transform: rotate(30deg); 
    }
    100% {
        transform: rotate(0);
    }}
    
    
    


   *{
    background-color: black;
   }


.header__container {
    padding: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__img--wrapper {
    padding: 20ox;
    z-index: 50;
}

    

.browse-button {
    color: rgb(86, 84, 84);
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0px; 
    transition: 0.5s;
    background-color: cyan;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
    
.browse-button:hover {   
    box-shadow: 0 0 5px rgb(18, 171, 171), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    cursor: pointer;
}
.browse-button:active {
    opacity: 0.5;
}

/* FEATURES */

   .photos {
    display: flex;
    flex-wrap: wrap;
    }

    .photo {
    width: 50%;
    padding: 24px; 
   
}

    .photo__img {
        max-height: 380px;
        transition: all 300ms ease;
        cursor: pointer;
    }

    .photo__img--wrapper {
        margin-bottom: 8px;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
    }

    .photo:hover .photo__img {
        transform: scale(1.03);
    }

    .photo__title {
        font-size: 20px;
        margin-bottom: 8px;
        color: #bfbfbf;
    }

    .photo__title:hover {
        text-decoration: underline;
        cursor: pointer
    }

    .photo__ratings {
        margin-bottom: 8px;
        color: #fabf2a;
    }

    .photo__price--normal {
        text-decoration: line-through;
        padding-right: 6px;
        color: #bfbfbf;
    }
   